## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np 
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pevek,RU,69.7008,170.3133,-8.01,76,6,3.65,clear sky
1,1,Namibe,AO,-15.1961,12.1522,70.86,75,30,7.23,scattered clouds
2,2,Mazamari,PE,-11.3258,-74.5308,68.04,98,64,1.63,light rain
3,3,Dikson,RU,73.5069,80.5464,-8.50,97,99,12.24,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,77.56,77,44,10.80,light rain
...,...,...,...,...,...,...,...,...,...,...
699,699,Dzilam Gonzalez,MX,21.2833,-88.9333,71.73,91,0,7.90,clear sky
700,700,Odweyne,SO,9.4092,45.0640,75.85,11,1,16.46,clear sky
701,701,Sirohi,IN,24.8833,72.8667,71.98,23,0,10.36,clear sky
702,702,Bontang,ID,0.1333,117.5000,84.67,65,77,9.48,broken clouds
703,703,Launceston,AU,-41.4500,147.1667,69.80,48,75,8.01,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp)&(city_data_df["Max Temp"]<= max_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Rikitea,PF,-23.1203,-134.9692,77.56,77,44,10.80,light rain
14,14,Atuona,PF,-9.8000,-139.0333,78.89,75,91,17.87,overcast clouds
18,18,Yulara,AU,-25.2406,130.9889,75.04,43,100,13.80,overcast clouds
31,31,Port-Gentil,GA,-0.7193,8.7815,80.55,79,100,11.30,overcast clouds
32,32,Esperance,AU,-33.8667,121.9000,76.48,50,20,22.19,few clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Palasa,IN,18.7667,84.4167,80.13,58,37,9.69,scattered clouds
694,694,Salalah,OM,17.0151,54.0924,84.29,24,0,18.41,clear sky
698,698,Bella Union,UY,-30.2752,-57.6007,78.84,36,53,7.45,broken clouds
700,700,Odweyne,SO,9.4092,45.0640,75.85,11,1,16.46,clear sky
702,702,Bontang,ID,0.1333,117.5000,84.67,65,77,9.48,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df.dropna().count()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Rikitea,PF,-23.1203,-134.9692,77.56,77,44,10.80,light rain
14,14,Atuona,PF,-9.8000,-139.0333,78.89,75,91,17.87,overcast clouds
18,18,Yulara,AU,-25.2406,130.9889,75.04,43,100,13.80,overcast clouds
31,31,Port-Gentil,GA,-0.7193,8.7815,80.55,79,100,11.30,overcast clouds
32,32,Esperance,AU,-33.8667,121.9000,76.48,50,20,22.19,few clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Palasa,IN,18.7667,84.4167,80.13,58,37,9.69,scattered clouds
694,694,Salalah,OM,17.0151,54.0924,84.29,24,0,18.41,clear sky
698,698,Bella Union,UY,-30.2752,-57.6007,78.84,36,53,7.45,broken clouds
700,700,Odweyne,SO,9.4092,45.0640,75.85,11,1,16.46,clear sky
702,702,Bontang,ID,0.1333,117.5000,84.67,65,77,9.48,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,77.56,light rain,-23.1203,-134.9692,
14,Atuona,PF,78.89,overcast clouds,-9.8000,-139.0333,
18,Yulara,AU,75.04,overcast clouds,-25.2406,130.9889,
31,Port-Gentil,GA,80.55,overcast clouds,-0.7193,8.7815,
32,Esperance,AU,76.48,few clouds,-33.8667,121.9000,
...,...,...,...,...,...,...,...
693,Palasa,IN,80.13,scattered clouds,18.7667,84.4167,
694,Salalah,OM,84.29,clear sky,17.0151,54.0924,
698,Bella Union,UY,78.84,broken clouds,-30.2752,-57.6007,
700,Odweyne,SO,75.85,clear sky,9.4092,45.0640,
702,Bontang,ID,84.67,broken clouds,0.1333,117.5000,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {"radius" : 5000, "type": "Lodging","key":g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e.Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f.Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df["Hotel Name"].replace("",np.nan,inplace=True)

In [23]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()

clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,77.56,light rain,-23.1203,-134.9692,Rikitea
14,Atuona,PF,78.89,overcast clouds,-9.8000,-139.0333,Atuona
18,Yulara,AU,75.04,overcast clouds,-25.2406,130.9889,Petermann
31,Port-Gentil,GA,80.55,overcast clouds,-0.7193,8.7815,Port-Gentil
32,Esperance,AU,76.48,few clouds,-33.8667,121.9000,Esperance
...,...,...,...,...,...,...,...
693,Palasa,IN,80.13,scattered clouds,18.7667,84.4167,Palasa at Kasibugga
694,Salalah,OM,84.29,clear sky,17.0151,54.0924,Salalah
698,Bella Union,UY,78.84,broken clouds,-30.2752,-57.6007,Monte Caseros
700,Odweyne,SO,75.85,clear sky,9.4092,45.0640,Oodweyne
702,Bontang,ID,84.67,broken clouds,0.1333,117.5000,Bontang

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
#Adding the description list 
<dl>
#Adding description term and description definition
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country Code</dt><dd>{Country}</dd>

<dt>Current Weather</dt><dd>{Current Description}</dd>

<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))