## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,77.56,light rain,-23.1203,-134.9692,Rikitea
1,14,Atuona,PF,78.89,overcast clouds,-9.8000,-139.0333,Atuona
2,18,Yulara,AU,75.04,overcast clouds,-25.2406,130.9889,Petermann
3,31,Port-Gentil,GA,80.55,overcast clouds,-0.7193,8.7815,Port-Gentil
4,32,Esperance,AU,76.48,few clouds,-33.8667,121.9000,Esperance
...,...,...,...,...,...,...,...,...
157,693,Palasa,IN,80.13,scattered clouds,18.7667,84.4167,Palasa at Kasibugga
158,694,Salalah,OM,84.29,clear sky,17.0151,54.0924,Salalah
159,698,Bella Union,UY,78.84,broken clouds,-30.2752,-57.6007,Monte Caseros
160,700,Odweyne,SO,75.85,clear sky,9.4092,45.0640,Oodweyne
161,702,Bontang,ID,84.67,broken clouds,0.1333,117.5000,Bontang

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
#Adding the description list 
<dl>
#Adding description term and description definition
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Thiruvananthapuram"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Thiruvananthapuram"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Manali"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Palasa"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Mormugao"]

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,421,Thiruvananthapuram,IN,85.98,scattered clouds,8.4833,76.9167,Thiruvananthapuram
1,349,Manali,IN,86.09,clear sky,13.1667,80.2667,Chennai
2,693,Palasa,IN,80.13,scattered clouds,18.7667,84.4167,Palasa at Kasibugga
3,275,Mormugao,IN,77.04,clear sky,15.4000,73.8000,Vasco da Gama

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
#Adding the description list 
<dl>
#Adding description term and description definition
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0   8.4833  76.9167
1  13.1667  80.2667
2  18.7667  84.4167
3  15.4000  73.8000

In [23]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations,info_box_content = itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))